<h1><%= @dataset.name %></h1>

<% if !@dataset.has_dbfile? && @dataset.datafile.file? %>
  <p><%= link_to 'Import file', '#' %></p>
<% end %>

<% if @dataset.has_dbfile? %>
<h2>Info</h2>
<p>
  Rows: <%= @dataset.db_rows_count %>
</p>
<h2>Columns</h2>
<% @dataset.db_columns.each do |col| %>
  <p>
    <%= col[1] %> : <%= col[2] %>
  </p>
<% end %>
<h2>First 5 rows</h2>
<% @dataset.first_five.each do |row| %>
  <p>
    <%= row %>
  </p>
<% end %>
<% end %>

